---------------------------------------
Welcome to host "{{ansible_hostname}}"!

IP: {{ansible_default_ipv4.address}}

{{ansible_env.USER}}, have a nice day!!!
------------------------------------------